#For IAR
Release/
settings/
List/

#For KEIL
obj/
lst/
Objects/
Listings/
RTE/
tmp/

#For others
out/
build/
.vs/

#Files
*.scc
*.doc
*.docx
*.log
*.dep
*.bak
*.old
*.bin
*.out
*.scvd
*.uvgui.*
*.uvguix.*
*.xml
*.txt
.clangd
*.yaml
*.cprj
*.cbuild-*
*.cbuild.yml
all.eww
all.uvmpw
